name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v1
      with:
        go-version: 1.19
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Test
      run: |
        make
        make windows
        go test -v ./...

    - name: StoreBinaries
      uses: actions/upload-artifact@v4
      with:
        name: Binaries
        path: ntfs*
